@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    margin: 0;
    font-family: "Rubik", "Calibri", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav, h1, h2{
    text-align: center;
    font-family: "Jersey 10", "Rubik", "Calibri", "Arial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p{
    text-align: center;
    font-family: "Rubik", "Calibri", "Arial", sans-serif;
    font-weight: 400;
    margin: 1em;
}
/* Nav Bar */
.navbar ul{
        list-style: none;
        background-color: yellow;
        padding: 0;
        margin: 0;
        text-align: center;
 }

.navbar a{
        text-decoration: none;
        color: black;
        padding: 20px 40px;
        display: block;
        text-align: center;
}

.navbar a:hover{
        background-color: fuchsia;
        color: white;
    }

.navbar li{
    display: inline-block;
}


/* Hero */
.hero-container {
    position:relative;
    height: 100vh;
    overflow: hidden;

}
.background-container{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    padding: 10px;
    z-index: 2;
    opacity: 0.7;
}

/* Subpage Hero */

.samurai-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/samurai-background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    aspect-ratio: 1.7;
}
.samurai-container h1{
    text-align: center;
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
}

.corpo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/corpo-background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    aspect-ratio: 1.7;
}

.corpo-container h1{
    text-align: center;
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
}


/* About */
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .about {
    background-color: black;
    img {
      width: 35vw;
      height: auto;
      padding: 6em;
    }
    .contents h2, p{
        text-align: center;
        max-width: 400px;
        color: white;
    }
  } 
  
    .center-wrapper{
      display: flex;
      justify-content: center;
      padding: 2em;
    }
  
  section {
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

   /* ----Cards---- */

   .card {
    border: 2px solid aqua;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    width: min-content;
    flex-direction: column;
    margin: 20px;
    padding: 10px;

    p{
      max-width: 100%;
    }
  }

  .card img{
    max-width: 40vw;
    height: auto;
    border-radius: 5px;
  }

  .card h3{
    font-size: 1.2em;
  }
  

.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}


  /* Accordion */
  .accordion{
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;

  }

  .accordion-item {
    background-color: steelblue;
    color: black;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding-left: 1em;
  }

  .accordion-header {
    display: flex;
    padding: 0.5rem 3rem, 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 7px;
    color: white;

  }

  /*rotating icon*/
  .accordion .accordion-header.active svg{
      transform: rotate(0.5turn);
      transition: 0.4s; 
    }

  /* Icon Sizing */
  .accordion svg {
    display: inline;
    width: 1em;
    position: absolute;
    right: 20px;
  }

  .accordion-body { 
   max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
  }

.body-content { 
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 2px solid;
  border-image: linear-gradient(to right, fuchsia, yellow) 1;
  color: white;
}

/* ------Video -----*/
.video-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: auto;
    padding: 10px;
  }

  /* Corpo Subpage */
.corpo-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  .corpo-content {
    background-color: black;
    img {
      width: 35vw;
      height: auto;
      padding: 6em;
    }
    .contents h2, p{
        text-align: center;
        max-width: 400px;
        color: white;
    }
  } 
  
    .center-wrapper{
      display: flex;
      justify-content: center;
      padding: 2em;
    }

    /*Samurai Subpage*/
    .samurai-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }
      
      .samurai-content {
        background-color: steelblue;
        img {
          width: 35vw;
          height: auto;
          padding: 6em;
        }
        .contents h2, p{
            text-align: center;
            max-width: 400px;
            color: white;
        }
      } 
      
        .center-wrapper{
          display: flex;
          justify-content: center;
          padding: 2em;
        }
  
/* --------FOOOTER------- */
.footer-container {
    width: 100%;
    height: auto px;
    position: relative;
    margin-top: 3rem;
  }
  
  /* Footer Background*/
  .footer{
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem;
  }

  /* Desktop (1400px) */
@media (max-width: 1400px) {
  
    .hero-container{
      background-size: contain;
    }
  
  }
  
  /* Tablets (screens smaller than 768px)  */
  @media (max-width: 1000px) {
    
    .hero-container{
      background-size: contain;
    }
  
    .about img{
      width: 80vw;
      height: auto;
    }

    .samurai-content img{
        width: 80vw;
        height: auto;
    }

    .corpo-content img{
        width: 80vw;
        height: auto;
    }
  
    .card img{
      max-width: 1400px;
      width: 80vw;
    }
  
    .card h3, p{
      max-width: 80vw;
    }
  
    }
  
/* Mobile phones (screens smaller than 480px) */
@media (max-width: 480px) {
  
    .hero-container .samurai-container .corpo-container{
      height: auto;
    }
  
    .card img{
      width: 80vw;
    }
  
    section{
      margin: 5px;
      padding: 5px;
      }
  
    iframe {
      height: 200px;
      max-width: 100%;
      }
  }
    
  